Django==1.11
djangorestframework==3.6.3
markdown==2.6.8
django-filter==1.0.4
django-rest-auth[with_social]==0.9.1
psycopg2==2.7.3
gunicorn==19.7
dj-static==0.0.6
django-environ==0.4.3
djangorestframework-jwt==1.11.0
